<section class="customer-reviews">
  <div class="customer-reviews__slider">
    <div class="multiple-items">
      <div>
        <img src="/src/images/customer-reviews/client1.png" alt="girl1" />
        <p>
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p>Emily, Los Angeles</p>
      </div>
      <div>
        <img src="/src/images/customer-reviews/client2.png" alt="girl2" />
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores tempora alias pariatur
          cupiditate quidem sed nihil iusto sequi culpa eaque.
        </p>
        <p>Rachel, New York</p>
      </div>
      <div>
        <img src="/src/images/customer-reviews/client3.png" alt="girl3" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque minus pariatur accusamus,
          sed laborum, cupiditate, illo dolor eligendi quam sunt excepturi maxime minima eveniet.
        </p>
        <p>Phibi, Chicago</p>
      </div>
    </div>
  </div>
</section>
