<section class="hero-header container">
    <div class="header"> 
        <div class="header-logo">
            <svg width="199" height="50" class="header-logo__icon">
                <use href="./images/logo.svg#b"/>
            </svg>
        </div>
    <ul class="header-list list">
        <li class="header-list__item">
            <a class="header-list__link link" href="">Home</a>
        </li>
        <li class="header-list__item">
            <a class="header-list__link link" href="">About us</a>
        </li>
        <li class="header-list__item">
            <a class="header-list__link link" href="">How it’s made?</a>
        </li>
        <li class="header-list__item">
            <a class="header-list__link link" href="">Our products</a>
        </li>
        <li class="header-list__item">
            <a class="header-list__link link" href="">Contact</a>
        </li>
        <button type="button" class="hero__button">Buy now
            <svg class="hero__button-icon">
                <use href="./images/symbol-defs.svg#icon-vector-hero"/>
            </svg>
        </button>
    </ul>
</div>
</div>
<hero>
    <div class="hero-title"></div>
    <h1 class="hero-title-text">ice cream made with
        <span class="accent-title">
            passion
        </span>
    </h1>
    <button class="hero__button">
        <a class="hero__button-link link" href="">Products</a>
    </button>
    <button type="button" class="hero__button">
        <a class="hero__button-link link" href="">How it’s made?</a>
    </button>
    <div class="hero-item">
      <picture class="hero-picture">
        <source
          media="(min-width: 1280px)"
          srcset="
          ./images/hero/hero3-1x.png 1x, 
          ./images/hero/hero3-2x.png 2x"
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          ./images/hero/hero3-tab1x.png 1x, 
          ./images/hero/hero3-tab2x.png 2x"
          type="image/png"
        />
        <img class="hero-img" src="#" alt="milk" />
      </picture>
      <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
      <button type="button" class="button-hero-item">
      <svg class="hero__button-icon">
        <use href="./images/symbol-defs.svg#icon-arrow-right2"/>
    </svg>
</button>
    </div>
    <div class="hero-picture-icecream">
    <picture class="hero-picture-center">
        <source
          media="(min-width: 1280px)"
          srcset="
          ./images/hero/hero1-1x.png 1x, 
          ./images/hero/hero1-2x.png 2x"
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
          ./images/hero/hero1-tab1x.png 1x, 
          ./images/hero/hero1-tab2x.png 2x"
          type="image/png"
        />
        <source
          media="(min-width: 220px)"
          srcset="
          ./images/hero/hero1-mob1x.png 1x, 
          ./images/hero/hero1-mob2x.png 2x"
          type="image/png"
        />
        <img class="picture-center-img" src="#" alt="ice-cream" />
    </div>
    <div>
        <picture class="hero-so-tasty">
            <source
              media="(min-width: 1280px)"
              srcset="
              ./images/hero/hero2-1x.png 1x, 
              ./images/hero/hero2-2x.png 2x"
              type="image/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="
              ./images/hero/hero2-tab1x.png 1x, 
              ./images/hero/hero2-tab2x.png 2x"
              type="image/png"
            />
            <img class="so-tasty-img" src="#" alt="sooootasty" />
    </div>
    <div class="right-part">
        <p><span class="accent-text">16</span>cafes</p>
        <svg class="right-part-circle">
            <use href="./images/symbol-defs.svg#icon-normal"/>
        </svg>
        <p><span class="accent-text">23</span>food trucks</p>
        <svg class="right-part-circle">
            <use href="./images/symbol-defs.svg#icon-normal"/>
        </svg>
    </div>
    </hero>
</section>
