.advantages__pretext {
    font-family:$font-h;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1.138;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:$focus;
}


